<link href="https://fonts.googleapis.com/css?family=Lato|Lobster+Two" rel="stylesheet">

<header> </header>

<body>

  <h1 id="welcome"> Two Nouns</h1>
  <h3> Curate your content. </h3>
  <img src="https://cdn3.iconfinder.com/data/icons/dental-blue-icons/512/Untitled-6.png" height="60px">

</body>

<footer> </footer>
