<link href="https://fonts.googleapis.com/css?family=Lato|Lobster+Two" rel="stylesheet">

<header> </header>

<body>

  <div class="landing">
    <h1 id="welcome"> Two Nouns</h1>
    <h2> Curate your content. </h2>
    <img src="https://cdn3.iconfinder.com/data/icons/dental-blue-icons/512/Untitled-6.png" height="60px">
    <p id="tagline"> Two Nouns lets you create and share personal magazines <br> with content from across the web. </p>
    <a href="/magazine" id="getstarted">Let's Get Started.</a>
  </div>


</body>

<footer>
  <a> Made by Beth Witten </a> <br>
  <a href="https://github.com/brwitten">
    <img class="icon" src="https://image.flaticon.com/icons/svg/23/23957.svg" height="15px">
  </a>
</footer>
