<!DOCTYPE html>

<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Here is your Two Noun's Magazine</h1>
    <p>
      Hi, <%= @user.name %>. Please find the magazine you requested attached. <br>
    </p>
    <p>Thanks for using Two Nouns!</p>
  </body>
</html>
