<!DOCTYPE html>

<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to Two Nouns!</h1>
    <p>
      You have successfully signed up and
      your username is: <%= @user.email %>.<br>
    </p>
    <p>
      You can click <%= link(:url => "https://lit-ridge-92986.herokuapp.com/", :text => 'here' %> to visit Two Nouns.
    </p>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>
