// Place all the styles related to the magazine controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  text-align: left;
}

.textfield {
  width: 65%;
  height: 20px;
}

submit_tag {
  height: 20px;
}
