// Place all the styles related to the twonouns controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


html, body, header {
  font-family: 'Lato', sans-serif;
  min-height: 100%;
  text-decoration: none;
  background-color: #f2f2f2;
}

.topnav {
  text-align: right;
}

.topnav a {
    text-decoration: none;
    color: #39b9d6;
    font-weight: bold;
}
.topnav a:hover {
    text-decoration: underline;
}

.mainbuttons {
  text-align: right;
  margin-top: 20px;
}

.landing {
  text-align: center;
}

.landing:after {
    content: "";
    display: block;
    height: 140px;
}

#welcome {
  font-family: 'Lobster Two', cursive;
  font-size: 80px;
  padding-top: 7%;
}

#getstarted, .authbuttons {
  text-decoration: none;
  font-weight: bold;
  color: #39b9d6;
}

.authbuttons {
  border: 1px solid black;
  padding: 8px;
  border-radius: 25px;
  text-align: center;
  font-size: 15px;
  margin-left: 10px;
  background-color: #e6e8ed;
}

#getstarted {
  font-size: 20px;
}

#getstarted:hover {
  text-decoration: underline;
}

.icon {
  padding-top: 5px;
}

footer {
  text-align: center;
  color: gray;
  font-size: 15px;
}
