// Place all the styles related to the user controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

html, body, header {
  font-family: 'Lato', sans-serif;
  min-height: 100%;
  text-decoration: none;
  background-color: #f2f2f2;
}
